torch
einops
jaxtyping
transformers>=5.12.0
datasets
accelerate
peft
huggingface-hub
deepspeed
hjson
ninja
pydantic
psutil
py-cpuinfo
msgpack
packaging
tqdm
numpy
pytest
nltk
defusedxml
lightning
rich
hydra-core
mamba-ssm
causal-conv1d>=1.4.0
wandb
evaluate
jupyterlab
matplotlib
